<!DOCTYPE html>
<html>
  <head>
    <title>Cliente</title>
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js?key=AIzaSyCHBg1MKsNontJO-fQxxsv7K6PW1zDMDes'%>
    <%= javascript_include_tag '//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'%>
    <%= javascript_include_tag '//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js', type: 'text/javascript'%>
  </head>
  <body>
    <%= render "partials/nav_bar"%>
    <%= yield %>

     <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </body>
</html> 
